<% content_for :title, "Articles de commande" %>

<div class="order-dishes-index">
  <% if notice.present? %>
    <p id="notice" class="notice"><%= notice %></p>
  <% end %>

  <div class="header">
    <h1>Articles de commande</h1>
    <%= link_to "Nouvel article", new_order_dish_path, class: "btn btn-primary" %>
  </div>

  <div id="order_dishes" class="order-dishes-list">
    <% if @order_dishes.any? %>
      <% @order_dishes.each do |order_dish| %>
        <div class="order-dish-item">
          <%= render order_dish %>
          <div class="order-dish-actions">
            <%= link_to "Voir", order_dish, class: "btn btn-secondary" %>
            <%= link_to "Modifier", edit_order_dish_path(order_dish), class: "btn btn-secondary" %>
            <%= button_to "Supprimer", order_dish, method: :delete, class: "btn btn-danger", data: { turbo_confirm: "Voulez-vous vraiment supprimer cet article ?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="no-results">Aucun article de commande trouvé.</p>
    <% end %>
  </div>
</div>
