<% content_for :title, "Ingrédients" %>

<div class="ingredients-index-container">
  <% if notice.present? %>
    <p id="notice" class="notice"><%= notice %></p>
  <% end %>

  <div class="ingredients-header">
    <h1 class="ingredients-title">Ingrédients</h1>
    <%= link_to "Nouvel ingrédient", new_ingredient_path, class: "btn btn-primary" %>
  </div>

  <div id="ingredients" class="ingredients-list">
    <% if @ingredients.any? %>
      <% @ingredients.each do |ingredient| %>
        <div class="ingredient-item">
          <%= render ingredient %>
          <div class="ingredient-actions">
            <%= link_to "Voir", ingredient, class: "btn btn-secondary" %>
            <%= link_to "Modifier", edit_ingredient_path(ingredient), class: "btn btn-secondary" %>
            <%= button_to "Supprimer", ingredient, method: :delete, class: "btn btn-danger", data: { turbo_confirm: "Êtes-vous sûr ?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="no-ingredients-message">Aucun ingrédient trouvé.</p>
    <% end %>
  </div>
</div>
