<% content_for :title, "Afficher ingrédient" %>

<div class="ingredient-show-container">
  <% if notice.present? %>
    <p id="notice" class="notice"><%= notice %></p>
  <% end %>

  <h1 class="ingredient-show-title">Afficher ingrédient</h1>

  <%= render @ingredient %>

  <div class="ingredient-show-actions">
    <%= link_to "Modifier cet ingrédient", edit_ingredient_path(@ingredient), class: "btn btn-secondary" %>
    <%= link_to "Retour aux ingrédients", ingredients_path, class: "btn btn-secondary ml-sm" %>
    <%= button_to "Supprimer cet ingrédient", @ingredient, method: :delete, form_class: "inline-sm mt-sm", class: "btn btn-danger w-full sm:w-auto", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
