<h1 class="page-title text-center">Nouvelle commande</h1>

<% if @cart.nil? || @cart.cart_dishes.empty? %>
  <p class="empty-cart-message">Votre panier est vide.</p>
<% else %>
  <p class="total-price-message">
    Total à payer : <strong><%= number_to_currency(@cart.cart_dishes.sum(&:total_price), unit: "€") %></strong>
  </p>

  <div class="payment-buttons">
    <%= form_with url: orders_path, method: :post do |f| %>
      <%= hidden_field_tag :pay_on_site, nil %>
      <%= f.submit "Payer en ligne", class: "btn" %>
    <% end %>

    <%= form_with url: orders_path, method: :post do |f| %>
      <%= hidden_field_tag :pay_on_site, true %>
      <%= f.submit "Payer sur place", class: "btn btn-pay-on-site" %>
    <% end %>
  </div>
<% end %>
