<h1>Commande n°<%= @order.id %></h1>

<ul>
  <% @order.order_dishes.each do |od| %>
    <li>
      <%= od.quantity %> x <%= od.item.title %> - <%= number_to_currency(od.unit_price * od.quantity) %>
    </li>
  <% end %>
</ul>

<p>Total : <strong><%= number_to_currency(@order.total_price) %></strong></p>
