<h1>Détails de votre commande</h1>

<p><strong>Status:</strong> <%= @order.status %></p>
<p><strong>Total de la commande:</strong> <%= number_to_currency(@order.total_price) %></p>

<h2>Plats dans la commande :</h2>
<ul>
  <% @order.order_dishes.each do |order_dish| %>
    <li>
      <%= order_dish.dish.title %> - <%= order_dish.quantity %> x <%= number_to_currency(order_dish.dish.price) %> = <%= number_to_currency(order_dish.dish.price * order_dish.quantity) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Retour au menu', dishes_path, class: 'btn btn-secondary' %>
