<% content_for :title, "Cart dishes" %>

<div class="index-wrapper w-full max-w-5xl mx-auto px-4 py-6">
  <% if notice.present? %>
    <p id="notice" class="notice-message"><%= notice %></p>
  <% end %>

  <div class="header flex justify-between items-center mb-6">
    <h1 class="page-title font-bold text-4xl text-white">Cart dishes</h1>
    <%= link_to "New cart dish", new_cart_dish_path, class: "btn btn-primary" %>
  </div>

  <div id="cart_dishes" class="cart-dishes-list min-w-full divide-y divide-gray-700 space-y-5">
    <% if @cart_dishes.any? %>
      <% @cart_dishes.each do |cart_dish| %>
        <div class="cart-dish-item flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0 bg-gray-900 rounded-lg p-4 shadow-md">
          <%= render cart_dish %>
          <div class="actions w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2 mt-4 sm:mt-0">
            <%= link_to "Show", cart_dish, class: "btn btn-secondary w-full sm:w-auto text-center" %>
            <%= link_to "Edit", edit_cart_dish_path(cart_dish), class: "btn btn-secondary w-full sm:w-auto text-center" %>
            <%= button_to "Destroy", cart_dish, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger w-full sm:w-auto text-center cursor-pointer" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="no-items text-center my-10 text-gray-400">No cart dishes found.</p>
    <% end %>
  </div>
</div>
