<%= form_with(model: cart, class: "contents") do |form| %>
  <% if cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>
      <ul>
        <% cart.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, 
          class: cart.errors[:user_id].any? ? "border-red-400" : "border-gray-400 focus:outline-blue-600" %>
  </div>

  <div class="inline">
    <%= form.submit %>
  </div>
<% end %>
