<% content_for :title, "Carts" %>

<div class="carts-index-container">
  <% if notice.present? %>
    <p id="notice" class="notice-message"><%= notice %></p>
  <% end %>

  <div class="carts-index-header">
    <h1>Carts</h1>
    <%= link_to "New cart", new_cart_path, class: "btn-primary" %>
  </div>

  <div id="carts" class="carts-list">
    <% if @carts.any? %>
      <% @carts.each do |cart| %>
        <div class="cart-item">
          <%= render cart %>
          <div class="cart-actions">
            <%= link_to "Show", cart, class: "btn-secondary" %>
            <%= link_to "Edit", edit_cart_path(cart), class: "btn-secondary" %>
            <%= button_to "Destroy", cart, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn-danger" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="no-carts-msg">No carts found.</p>
    <% end %>
  </div>
</div>
