<div id="<%= dom_id dish %>" class="dish-card">
  <div class="dish-attribute">
    <strong class="dish-label">Title:</strong>
    <%= dish.title %>
  </div>
  <div class="dish-attribute">
    <strong class="dish-label">Description:</strong>
    <%= dish.description %>
  </div>
  <div class="dish-attribute">
    <strong class="dish-label">Price:</strong>
    <%= dish.price %>
  </div>
  <div class="dish-attribute">
    <strong class="dish-label">Image url:</strong>
    <%= dish.image_url %>
  </div>
</div>
