<%= form_with(model: dish, local: true, html: { multipart: true }) do |form| %>
  <% if dish.errors.any? %>
    <div class="form-errors">
      <h2>Erreur(s) :</h2>
      <ul>
        <% dish.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image, "Image du plat" %>
    <%= form.file_field :image, class: "form-control-file" %>
  </div>

  <div class="form-actions">
    <%= form.submit class: "btn-submit" %>
  </div>
<% end %>
