<h1 class="font-bold text-4xl"><%= @dish.title %></h1>
<p><%= @dish.description %></p>
<p>Price: <%= @dish.price %> €</p>
<img src="<%= @dish.image_url %>" alt="<%= @dish.title %>">

<% if current_user&.admin? %>  <!-- Vérification admin pour afficher les boutons Edit et Destroy -->
  <div class="actions mt-4">
    <%= link_to "Edit", edit_dish_path(@dish), class: "btn edit-btn" %>
    <%= button_to "Destroy", @dish, method: :delete, class: "btn destroy-btn", data: { turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>

<%= link_to "Back to dishes", dishes_path, class: "btn back-btn" %>
