<h3>Personnaliser et ajouter au panier</h3>

<%= form_with url: add_to_cart_cart_path(@cart || Cart.new), method: :post, local: true do |form| %>
  <p>Cochez les ingrédients à <strong>retirer</strong> :</p>

  <% @dish.ingredients.each do |ingredient| %>
    <div>
      <%= check_box_tag "removed_ingredients[]", ingredient, false, id: "ingr_#{ingredient}" %>
      <%= label_tag "ingr_#{ingredient}", ingredient.capitalize %>
    </div>
  <% end %>

  <%= hidden_field_tag :dish_id, @dish.id %>
  <%= submit_tag "Ajouter au panier", class: "btn btn-primary mt-3" %>
<% end %>
