<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Le Plaisir Snack" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= tag.link rel: "icon", href: "/icon.png", type: "image/png" %>
    <%= tag.link rel: "icon", href: "/icon.svg", type: "image/svg+xml" %>
    <%= tag.link rel: "apple-touch-icon", href: "/icon.png" %>

    <%# Use Importmap for JavaScript - no need for sprockets here %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
